.header {
  overflow: hidden;
  /* background-color: #2e7c31; */
  background-color: var(--color-primary-0);
  /* background-color: #8D25DC; */
  /* background-color: #9d84fa; */
  padding: 20px 10px;
  margin-bottom: 20px;
}

.header h2, .header a {
  color: white;
  /* color: #B674E9; */
}

#goBack-button {
  float: left;
  padding-left: 20px;
  font-size: 21px;
  color: white;
  background: none;
  border: none;
}