:root{
  --main-background-color: #282C34;
  --active-background-color: #1B1D2E;
  --color-primary-0: #282C34;	/* Main Primary color */
  --color-primary-1: #BABCC1;
  --color-primary-2: #65738F;
  --color-primary-3: #19202C;
  --color-primary-4: #010D22;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
